@tailwind base;
@tailwind components;
@tailwind utilities;

.form{
    display: flex;
}

.input{
    border: 2px solid black;
}

.formHeader{
    font-size: large;
font-weight: bold;
}

.formSubmit{
    border: 2px solid black;
    background-color: gray;
    color: white;
}

.SearchBar{
    display: flex;
    margin: 5px;
    gap: 5px;

}

.searchinput{
    width: 300px;
    border: 2px solid rgb(18, 18, 18);
    
}
